.loginBg {
    background-image: url('https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');
    background-size: cover;
}
.errorMsg {
    color: red;
    font-size: 19px;
    background-color: white;
    border-radius: 2px;
    padding: 5px 10px;
}