.text-logo {
    font-weight: 900;
    color: #8f8fff;
    text-decoration: none;
}

.profileImage {
    width: 3rem;
    /* height: 1rem; */
}

.navbar-link {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: #212328;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
}

@media only screen and (max-width: 699px) {
    .navbar-link {
        padding: 0;
        color: rgba(0, 0, 0, .55);
        font-weight: 400;
        line-height: 30px;
        background-color: rgb(189 179 179 / 10%);
        margin: 1px 1px;
    }
}

@media only screen and (min-width: 700px) {
    .navbar-link::after {
        content: '';
        height: 3px;
        display: block;
    }
    .navbar-link:hover::after {
        content: ' ';
        background-color: #64f373;
        width: 50%;
        height: 3px;
        display: block;
        margin: auto;
        transition: all 1s linear;
    }
}